{% extends "base.html" %}

{% block content %}
  <div class="col-sm-6">
    <h1>Car: {{ car }}
        <a class="btn btn-info float-right" href="{% url 'taxi:car-update' pk=car.id %}">
            Update Car
        </a>
        <a class="btn btn-danger float-right" href="{% url 'taxi:car-delete' pk=car.id %}">
            Delete Car
        </a>
    </h1>
    <div><strong>Manufacturer: </strong> {{ car.manufacturer }}</div>
    <div><strong>Model: </strong> {{ car }}</div>
    <div><strong>Country: </strong> {{ car.manufacturer.country }}</div>
    <div><strong>Amount of drivers:</strong> {{ car.drivers.count }}</div>
    <br>

    <a class="btn btn-warning" href="{% url 'taxi:car-assign' pk=car.id %}">
        {% if car in user.cars.all %}
          Delete me from this car
        {% else %}
          Assign me to this car
        {% endif %}
    </a>
    <h3>Drivers</h3>
    {% include "includes/drivers.html" with drivers=car.drivers.all %}
  </div>
{% endblock %}
