{% extends "base.html" %}

{% block content %}
    {% if driver.username == "Magus" %}
        <h1>You try to delete ME?</h1>
        <p>Hey, don't try to delete me. Go away, please.</p>
        <a class="btn btn-success" href="{% url 'taxi:driver-detail' pk=driver.id %}">
            Sorry, Max :(
        </a>
    {% elif driver.username == "Best_User_Ever" %}
        <h1>This is not way</h1>
        <p>Hey, you are fighting in the wrong side, this is you!</p>
        <a class="btn btn-success" href="{% url 'taxi:driver-detail' pk=driver.id %}">
            Hmmmm.......
        </a>
    {% else %}
        <h1>Delete driver</h1>

        <p>Are you sure you want to delete driver: {{ driver.username }}</p>
        <form action="" method="POST" style="display: inline">
          {% csrf_token %}
          <input type="submit" value="Yes, delete" class="btn btn-danger">
        </form>
        <a class="btn btn-success" href="{% url 'taxi:driver-detail' pk=driver.id %}">
            No, go back
        </a>
    {% endif %}

{% endblock %}
