{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="col-sm-6">

        <h1>Driver List
            <a class="btn btn-success float-right" href="{% url 'taxi:driver-create' %}">
                Add new driver
            </a>
        </h1>

        <form action="" method="get" class="form-inline" >
            {% csrf_token %}
            {{ search_form|crispy }}
            <input type="submit" class="btn btn-secondary" value="🔍" >
        </form>

{% include "includes/drivers.html" with drivers=driver_list %}
    </div>
{% endblock %}
